@font-face {
  font-family: 'Spectral';
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url('/src/assets/fonts/Spectral-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url('/src/assets/fonts/Spectral-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('/src/assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url('/src/assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url('/src/assets/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url('/src/assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
}